/* Google fonts import */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Merienda One', 'Brush Script MT', cursive;
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: none;
}

/* Header */
header {
    background-color: rgb(224, 211, 211);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #976363;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #976363;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgb(224, 211, 211);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #976363;
    display: none;
    top: 100%;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
/* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Flowers */
#cover-text {
    width: 200px;
    right: 20px;
}
    


/* Flowers section */
#flowers {
    background: url("../backgrounds/flower.jpg") no-repeat center center/cover;
    position: relative;
}
/* Final rgba value sets the opacity so it is semi transparent */
#cover-text {
    background-color: rgb(224, 211, 211, .8);
    width: 70%;
    position: absolute;
    bottom: 90px;
    min-height: 80px;
    padding-top: 30px;
    padding-left: 10px;
}

#cover-text > h1 {
    color: white;
}

.page-header {
    height: 100vh;
	background: center 75% / cover no-repeat;
}

.text-center {
    text-align: center;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(224, 211, 211);
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #976363;
}

/* Media query: tablet and larger */
@media screen and (min-width: 768px) {
/* Header */
nav {
    display:block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
}
#menu {
    display: flex;
}

#menu > li {
   padding-left: 1rem; 
}

.nav-toggle-label {
    display: none;
}
}

/* Main content */
main {
/* Push main content up to accomodate larger header */
    margin-top: 40px;
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #976363;
    }
}
    

